---
Checks: >
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  readability-*,
  -readability-magic-numbers,
  -readability-identifier-length,
  bugprone-*,
  clang-diagnostic-*,
  clang-analyzer-*,
  performance-*,
  misc-*



# bese on Google C++ Style Guide with modifications
CheckOptions:
  # 命名约定
  readability-identifier-naming.NamespaceCase: lower_case
  readability-identifier-naming.ClassCase: CamelCase
  readability-identifier-naming.StructCase: CamelCase
  readability-identifier-naming.TemplateParameterCase: CamelCase
  readability-identifier-naming.FunctionCase: lower_case
  readability-identifier-naming.VariableCase: lower_case
  readability-identifier-naming.ClassMemberCase: lower_case
  readability-identifier-naming.ClassMemberSuffix: _
  readability-identifier-naming.StructMemberCase: lower_case
  readability-identifier-naming.ParameterCase: lower_case
  readability-identifier-naming.EnumCase: CamelCase
  readability-identifier-naming.EnumConstantCase: CamelCase
  readability-identifier-naming.ConstantCase: lower_case
  readability-identifier-naming.GlobalConstantCase: lower_case
  readability-identifier-naming.StaticConstantCase: lower_case
  readability-identifier-naming.MacroDefinitionCase: UPPER_CASE